:root {
    --col1: rgb(44, 54, 57);
    --col2: rgb(63, 78, 79);
    --col3: rgba(162, 123, 92, 0.3);
    --col4: rgb(220, 215, 201);
    font-family: sans-serif;
    font-size: 20px;
}


body {
    background-color: var(--col2);

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    min-width: 100vw;
    min-height: 5vh;
    background-color: var(--col1);
    color: var(--col4);
    font-weight: 700;
}


.content {
    display: flex;
}

.sidebar {
    min-width: 15vw;
    min-height: 95vh;
    background-color: var(--col2);
}

.main {
    min-width: 85vw;
    min-height: 95vh;
    background-color: var(--col4);
}

.add {
    border-radius: 10px;
    background-color: var(--col3);
    display: flex;
    align-items: center;
    margin: 40px 220px;
    padding: 5px;
    cursor: pointer;
}



.add>img {
    width: 20px;
    width: 20px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.newcard {
    border-radius: 10px;
    background-color: var(--col3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 40px 220px;
    padding: 5px;
    height: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.newcard.open {
    position: relative;
    height: auto;
    opacity: 1;
    pointer-events: all;
}

.up {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttons>img {
    width: 30px;
    width: 30px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

textarea {
    margin: 5px;
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    resize: none;
    outline: none;
}

.form {
    width: 100%;
    margin: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskcard {
    background-color: var(--col3);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 40px 220px;
    padding: 5px;
}

.taskcard.active {
    height: 200px;
    align-items: flex-start;
}

.right>form {
    margin: 0 40px 0 0;
}

input {
    margin: 0 10px 0 10px;
    height: 16px;
    width: 16px;
}

#dateArea {
    width: 110px;
}

#high:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: red;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#medium:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: orange;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#low:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(0, 160, 0);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
}

.right>img {
    width: 20px;
    margin: 0 0 0 10px;
    cursor: pointer;
}